:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#carousel {
    position: fixed;
    top: 50%;
    display: flex;
    height: 20rem;
    transform-style: preserve-3d;

    &>* {
        position: absolute;
        top: 50%;
        transform-style: preserve-3d;
        
        &:after {
            content: "";
            position: absolute;
            inset: 2rem;
            filter: blur(3rem);
            background: rgb(255, 255, 255);
            transform: translateZ(-0.1rem);
        }

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            background: radial-gradient(5rem at 15% 70%, blue, transparent),
                        radial-gradient(orange, transparent),
                        cyan;
            border-radius: 1rem;
        }

        img {
            width: 20rem;
            height: 8rem;
            object-fit: cover;

            border: 1px solid black;
            border-radius: 1rem;
            
            transform: translateZ(0.1rem);
        }
    }
}

#carousel_container {
    display: grid;
    place-items: center;
    height: 400vh;
}