:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#carousel {
    position: fixed;
    top: 50%;
    display: flex;
    height: 20rem;
    transform-style: preserve-3d;
    transform: perspective(800px) translateY(-50%);

    * {
        position: absolute;
        background-color: grey;
        top: 50%;
    }
}

#root {
    display: grid;
    place-items: center;
    height: 400vh;
}