:root {
    font-family: "Karla", "inter";
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#root {
    background-color: #0B2434;
    min-height: 100vh;
    display: grid;
    place-items: center;
}

main {
    width: 360px;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 35px;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.dice-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    gap: 1rem;
}

.dice-container div {
    background-color: #ffffff;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
    padding: 0.5rem 1rem;
    border-radius: 6px;
    font-size: 2rem;

    cursor: pointer;
    user-select: none;
}

.roll-dice {
    height: 50px;
    width: 100px;
    border: none;
    border-radius: 6px;
    background-color: #5035FF;
    color: white;
    font-size: 1.2rem;
    outline: none;
    cursor: pointer;
}
.roll-dice:active {
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}